<section id="menu">
    <h2>Menú</h2>
    <ul class="menu">
        <li>
            <h3>Tapas</h3>
            <ul>
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>                
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>
            </ul>
        </li>
        <li>
            <h3>Pizzas</h3>
            <ul>
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>                
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>
            </ul>
        </li>
        <li>
            <h3>Hamburguesas</h3>
            <ul>
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>                
                <li>
                    <img src="/cafe.webp" alt="Tapa Cafe">
                    <h4>Croquetas</h4>
                    <span>4€</span>
                </li>
            </ul>
        </li>
    </ul>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
    section h2 {
        text-align: center;
        font-family: 'Rancho', sans-serif;
        font-size: 3rem;
        font-weight: 300;
        position: relative;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
    }

    .menu h3 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
    }

    .menu li {
        flex-grow: 1;
        min-width: 300px;
    }

    .menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .menu ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .menu ul li img {
        width: 85px;
        height: 85px;
        object-fit: cover;
    }

    .menu ul li h4 {
        font-weight: 500;
    }

    .menu ul li span {
        font-weight: 200;
    }


</style>