<section>
    <h2>Testimonio</h2>
    <div>
        <svg width="80" height="68" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M36.923 40v18.462c0 2.564-.897 4.743-2.692 6.538-1.795 1.795-3.975 2.692-6.539 2.692H9.231c-2.564 0-4.744-.897-6.539-2.692C.897 63.205 0 61.026 0 58.462V24.614c0-3.333.649-6.514 1.947-9.543C3.245 12.043 5 9.423 7.212 7.212 9.423 5 12.043 3.245 15.072 1.947A23.977 23.977 0 0 1 24.615 0h3.077c.834 0 1.555.304 2.164.913.609.61.913 1.33.913 2.164V9.23c0 .833-.304 1.554-.913 2.163-.61.61-1.33.914-2.164.914h-3.077c-3.397 0-6.298 1.202-8.701 3.606-2.404 2.403-3.606 5.304-3.606 8.701v1.539c0 1.282.448 2.372 1.346 3.27.897.896 1.987 1.345 3.27 1.345h10.768c2.564 0 4.744.898 6.539 2.693 1.795 1.794 2.692 3.974 2.692 6.538ZM80 40v18.462c0 2.564-.897 4.743-2.692 6.538-1.795 1.795-3.975 2.692-6.539 2.692H52.308c-2.564 0-4.744-.897-6.539-2.692-1.795-1.795-2.692-3.974-2.692-6.538V24.614c0-3.333.649-6.514 1.947-9.543 1.298-3.029 3.053-5.649 5.264-7.86C52.5 5 55.12 3.245 58.15 1.947A23.977 23.977 0 0 1 67.692 0h3.077c.834 0 1.555.304 2.164.913.609.61.913 1.33.913 2.164V9.23c0 .833-.304 1.554-.913 2.163-.61.61-1.33.914-2.164.914h-3.077c-3.397 0-6.298 1.202-8.702 3.606-2.404 2.403-3.605 5.304-3.605 8.701v1.539c0 1.282.448 2.372 1.346 3.27.897.896 1.987 1.345 3.269 1.345h10.77c2.563 0 4.743.898 6.538 2.693C79.103 35.255 80 37.436 80 40Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h80v67.692H0z"/></clipPath></defs></svg>
        <p>Este es un simple texto de relleno solo esta para rellenar, y mostrar el lugar donde iria un texto real de la pagina cuando este hecha en su totalidad</p>
    </div>
</section>

<style>
    section {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 150px;
    }

    section h2 {
        text-align: center;
        font-family: 'Rancho', sans-serif;
        font-size: 3rem;
        font-weight: 300;
    }

    section div {
        background-image: url("/testimonio.webp");
        background-size: cover;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    section div p {
        font-size: 2rem;
        color: #fff;
        font-weight: 400;
        width: 80%;
        margin: 0;
    }

    @media screen and (max-width: 600px) {
        section div {
            gap: 50px;
        }

        section div p {
            font-size: 1.7rem;
        }
    }
</style>